/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&family=IBM+Plex+Serif:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sura:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&family=IBM+Plex+Sans:wght@300;400;500;600&family=IBM+Plex+Serif:wght@300;400;500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500&display=swap');
*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: aquamarine;
}

.container {
    /* border: 1px solid black; */
    width: 90%;
    height: 80vh;
    display: flex;
}

.wrap-button {
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; */
}

.quotes {
    border: 10px solid blue;
    border-radius: 22px;
    width: 900px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    color: gray;
    background-color: aqua;
}

.quotes texts,
.quotes h3 {
    font-size: 1.7rem;
}

@media(max-width:480px) {
    .quotes texts,
    .quotes h3 {
        font-size: 1rem;
    }
}
